{% extends 'layout.html.twig' %}

{%  block title %}
    {{ 'title.bookmark_view'|trans({'%id%': id }) }}
{% endblock %}

{%  block body %}
    <h1>
        {{ 'title.bookmark_view'|trans({'%id%': id }) }}
    </h1>
    {%  if bookmark|length %}
        <div>
            {{ bookmark.title }}, {{ bookmark.url }}
        </div>
    {%  else %}
        <div>
            {{ 'message.no_bookmark'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('bookmark_index') }}" title="{{ 'label.back_to_list'|trans }}">
        {{ 'label.back_to_list'|trans }}
    </a>
{% endblock %}