{% extends 'layout.html.twig' %}

{%  block title %}
    {{ 'title.tag_view'|trans({'%id%': id}) }}
{% endblock %}

{%  block body %}
    <h1>
        {{ 'title.tag_view'|trans({'%id%': id}) }}
    </h1>
    {%  if tag|length %}
        <div>
            {{ tag.id }}, {{ tag.name}}
        </div>
    {%  else %}
        <div>
            {{ 'message.no_tag'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('tag_index') }}" title="{{ 'label.back_to_tag_list'|trans }}">
        {{ 'label.back_to_tag_list'|trans }}
    </a>
{% endblock %}